* {
    margin: 0;
}

body {
    background-color: aqua;
}

.container {
    width: 94vw;
    height: 94vh;
    padding: 3vh 3vw;
}

table {
    margin-top: 2vh;
}

th {
    padding: 1vh;
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}